/* login */

.body-contents__login {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.login-box {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: #fbf9ed;
    padding: 20px 50px;
    box-sizing: border-box;

}

.login-box__id-wrap,
.login-box__pw-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 35px;
    margin: 20px 0 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
}

.login-box>div> i {
    padding: 0 10px 0 15px;
}

.login-box>div> input {
    width: 90%;
    height: 60%;
    border: none;
}

.login-box__check {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 12px;
}

.check-id,
.check-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    position: relative;
}

/* input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label {
    background: url('https://s.wemep.co.kr/ui/v2.8.307/dist/pc/css/spr/common.png') 0 -438px no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    white-space : nowrap;
}

input[type="checkbox"]:checked + label:before {
    background-position: -75px -438px;
} */


.login-box__login,
.login-box__sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae6df;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: 500;
    color: black;
}

.login-box__login {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    margin: 20px auto;
}

.login-box__sign-up {
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    margin: 40px auto;
}

.sign-up__border {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.login-box__social {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.1rem;
}

.for-naver {
    background-color: rgb(6, 190, 52);
    color: white;
}

.for-kakao {
    background-color: rgb(249, 224, 0);
}

.for-google {
    background-color: white;
}

.login-box__social-btn {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
}

.social-text {
    padding-right: 5px;
}
