.body-contents__board-mypage {
    width: 90%;
    height: 100%;
    position: relative;
    padding: 0 30px;
    /* 임시 */
    background-color: rgba(0, 0, 0, 0.06);
}

.board-mypage {
    width: 90%;
    height: auto;
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.board-mypage:last-child {
    border: none;
}

.board-mypage input {
    height: 25px;
}

.board-mypage span {
    width: 50px;
    height: 30px;
}

.mypage__head {
    position: absolute;
    top: 80px;
    font-size: 24px;
    font-weight: 500;
}


.mypage__nickname,
.mypage__password,
.mypage__email,
.mypage__address,
.mypage__tel {
    display: flex;
    align-items: center;
    position: relative;
}

.mypage__nickname input,
.mypage__password input,
.mypage__email input,
.user-mainaddress,
.mypage__address input:last-child,
.mypage__tel input {
    position: absolute;
    left: 100px;
    padding-left: 10px;
}

.mypage__nickname input {
    width: 15vw;
}
.mypage__password input,
.mypage__email input,
.mypage__tel input {
    width: 20vw;
}

.user-mainaddress,
.mypage__address input:last-child {
    width: 35vw;
}

.mypage__address input:last-child {
    top: 30px;
}

.mypage__nickname {
    margin-top: 40%;
}

.mypage__picture {
    position: relative;
    width: 50%;
}

.mypage__picture::after {
    content: "";
    padding-bottom: 100%;
}

.picture-box {
    width: 20vw;
    margin-left: 15%;
    height: 20vw;
    object-fit: cover;
    background-color: aqua;
    border-radius: 50%;
}

.user-picture {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 60%;
    color: #999999;
    padding: 2px 10px;
}

.mypage__picture label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #999999;
    font-size: 14px;
    cursor: pointer;
    width: 64px;
    height: 20px;
    margin: 10px;
    white-space: nowrap;
    border-radius: 5px;
}

.mypage__picture input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.picture-box__input {
    display: flex;
    align-items: center;
    justify-content: right;
}

.user-picture__text {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.mypage__address {
    margin-bottom: 30px;
}

.mypage__btn {
    display: flex;
    padding: 0 45%;
}

.mypage__btn-cancle,
.mypage__btn-commit {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.mypage__btn-cancle {
    margin-right: 10px;
}

.mypage__btn-commit {
    margin-left: 10px;
}